@charset "utf-8";
/* core.css - 중요공통기능 */

/*웹폰트*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*font-family: 'Noto Sans KR', sans-serif;*/
/*font-family: 'Noto Sans', sans-serif;*/
/*font-family: 'Londrina Outline', cursive;  - brunch부분*/
/*font-family: 'Playfair Display', serif;*/

/*[웹폰트 지정형식]
@font-face{
    font-family: 내가지은이름;
    src: url(경로.woff) format("woff"),
        url(경로.ttf) format("truetype")
}
- woff는 데스크탑 브라우저용 웹폰트 확장자
- ttf는 모바일 브라우저용 웹폰트 확장자
- format(형식명) 은 명시적으로 확장자를 지정하여 웹폰트 로딩을 빠르게 함*/



/*공통*/
*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    color: #222;
    line-height: 136%;
    font-size: 100%;
    letter-spacing: 1px;
}

body::-webkit-scrollbar {
  width: 5px;
}
 
body::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 5px;
}
body{
	scrollbar-face-color: #333;
    scrollbar-shadow-color: #000;
    scrollbar-highlight-color: #666;
    scrollbar-3dlight-color: #fff;
    scrollbar-darkshadow-color: #fff;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #868686;
}

/*공통클래스*/
/*겉박스*/
.page{
    width: 100%;
    /*outline: 2px dotted blue;*/
}

/*중앙정렬 속박스*/
.inbox{
    width: 100%;
    /*outline: 1px dashed red;*/
}

/*IR(Image Replacement) class*/
.ir{
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/*비율유지 class*/
.rbx{
    position: relative;
    overflow: hidden;
}
.rbx::before{
    content: '';
    display: block; 
}
.ibx{/*비율유지속박스*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
























