@charset "utf-8";

/*Grid View*/
.grid {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /*가로중앙이동*/
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: -1;
    /*화면요소 아래로*/
}

/*Grid float해제*/
.grid::after {
    content: "";
    display: block;
    clear: both;
    /*해제*/
}

/*li설정*/
.grid li {
    float: left;
    /*옆으로 흐르게*/
    width: 8.333%;
    /*100/12등분*/
    height: 100%;
    background-color: #edcfcf;
    padding: 0 10px;
    /*양쪽패딩10px, 기둥간격20px*/
    box-sizing: border-box;
    /*패딩,보더 박스포함*/
    background-clip: content-box;/*내용영역까지만배경색 넣기*/
    /*background-clip: border-box;*//*보더까지 모두 배경색 들어감*/
    /*background-clip: padding-box;*//*패딩까지만(보더제외) 배경색 들어감*/
    /*
        background-origin은 배경이미지 영역설정
    
        background-clip은 배경색 영역설정임!
    
    */
    
    
}







