@charset "utf-8";
/* stayfolio 미디어쿼리 - media.css */

/* 배너 미디어쿼리 */
/*************************** 1800px *************************/
@media all and (max-width:1800px) {
    .pick_text {
        padding-top: 0;
    }

    #ban.rbx::before {
        padding-top: 48%;
    }
}

/*************************** 1700px *************************/
@media all and (max-width:1700px) {
    .pick_pop_1 {
        height: 74vh;
    }

    .magazine_img li {
        width: 15.4%;
    }

    #ban.rbx::before {
        padding-top: 50%;
    }

    #cont_1.rbx::before {
        padding-top: 52%;
    }

    #cont_2.rbx::before,
    #cont_3.rbx::before {
        padding-top: 52%;
    }


    #footer.rbx::before {
        padding-top: 35%;
    }

}

/*************************** 1600px *************************/
@media all and (max-width:1600px) {
    html {
        font-size: 17px;
    }

    .ban_line {
        margin: 0 6%;
    }

    .magazine_img li {
        width: 14.666%;
    }

    .btn_show.magazine,
    .btn_show span {
        width: 65px;
        height: 65px;
    }

    .btn_show.magazine:hover {
        height: 65px;
    }

    .brunch_img li:nth-child(1) {
        padding-left: 7%;
        margin-top: 115px;
    }

    .brunch_img li:nth-child(2) {
        padding-right: 7%;
        margin-top: 60px;
    }

    .picBox {
        height: 67%;
    }

    .magazine_left {
        margin-left: -15%;
    }

    #cont_4.rbx::before {
        padding-top: 40%;
    }

    #footer .f1h1 {
        height: 22vh;
    }
}

/*************************** 1440px *************************/
@media all and (max-width:1440px) {
    #ban.rbx::before {
        padding-top: 50%;
    }

    .ban_control {
        width: 90%;
    }

    .ban_line {
        margin: 0 8%;
    }

    #cont_1.rbx::before {
        padding-top: 51%;
    }

    #cont_2.rbx::before {
        padding-top: 55%;
    }

    #cont_3.rbx::before {
        padding-top: 65%;
    }

    .brunch_img li:nth-child(1) {
        padding-left: 8%;
        margin-top: 105px;
    }

    .brunch_img li:nth-child(2) {
        padding-right: 8%;
        margin-top: 50px;
    }

    .btn_show.magazine,
    .btn_show span {
        width: 63px;
        height: 63px;
    }

    .btn_show.magazine:hover {
        height: 63px;
    }

    #ban.rbx::before {
        padding-top: 55%;
    }

    .magazine_img li {
        width: 13.2%;
    }

    .picbtn_area {
        padding: 3% 45%;
    }

    #footer.rbx::before {
        padding-top: 36%;
    }

    .pick_pop_1 {
        width: 110vmin;
        height: 69vh;
    }

}

/*************************** 1360px *************************/
@media all and (max-width:1360px) {
    .magazine_left {
        margin-left: -8%;
    }

    #cont_2.rbx::before {
        padding-top: 57%;
    }

    #footer.rbx::before {
        padding-top: 38%;
    }

    #footer .f1h1 {
        height: 20vh;
    }

    .footer_logo {
        top: 10vmin;
    }
}

/*************************** 1280px *************************/
@media all and (max-width:1280px) {
    html {
        font-size: 16px;
    }

    .magazine_left h3 {
        font-size: 2.5rem;
    }

    .magazine_left > p {
        font-size: 1.5rem;
    }

    .magazine_left {
        margin-left: auto;
    }

    .pick_pop_1 {
        width: 100vmin;
        height: 60vh;
    }

    .popup_img {
        height: 43vmin;
    }
}


/*************************** 1024px - 아이패드 pro *************************/
@media all and (max-width:1024px) {
    html {
        font-size: 16px;
    }

    #header .fbx {
        padding: 0 3%;
    }

    .header,
    #header [class*=col-] {
        height: 100px;
    }

    .page.ban {
        padding-top: 100px;
    }

    .header_logo {
        width: 11vmin;
    }

    .gnb {
        display: none;
    }

    .toggle {
        display: block;
    }

    .menuBox_logo img {
        width: 14vmin;
    }


    /*배너*/
    #ban.rbx::before {
        padding-top: 65%;
    }

    /*매거진*/
    #cont_1.rbx::before {
        padding-top: 72%;
    }

    #cont_1 .fbx .col-3 {
        flex-basis: 35%;
        padding: 5% 3%;
    }

    #cont_1 .fbx .col-9 {
        flex-basis: 65%;
    }

    .magazine_left h3,
    .pick_text {
        font-size: 2.8rem;
    }

    .magazine_left > p {
        font-size: 1.75rem;
        line-height: 45px;
    }

    .btn_show.magazine:hover {
        width: 300px;
    }

    .btn_show.magazine.c3btn:hover {
        width: 245px;
    }

    .btn_show p {
        font-size: 1.7rem;
    }

    /*브런치*/
    #cont_2.rbx::before {
        padding-top: 78%;
    }

    #cont_3.rbx::before {
        padding-top: 92%;
    }

    .pick_text_area {
        padding: 2% 3%;
    }

    .picbtn_area {
        padding: 3% 40%;
    }

    #cont_4.rbx::before {
        padding-top: 50%;
    }

    /*pick*/
    #cont_3.rbx::before {
        padding-top: 150%;
    }

    .picBox {
        height: 80%;
    }

    .picBox .col-4 {
        flex-basis: 50%;
        margin-bottom: 5%;
    }

    .picBox li {
        height: 23%;
    }

    .picbtn_area {
        padding: 1% 40%;
        margin-top: -5%;
    }

    .picTitle {
        font-size: 1.5rem;
    }

    .pick_text_area p {
        font-size: 1.75rem;
    }

    /*리뷰*/
    .c4tit {
        font-size: 2rem;
        font-weight: 300;
    }

    /*푸터*/
    .footer .fbx {
        padding: 0 7%;
    }

    #footer.rbx::before {
        padding-top: 80%;
    }

    .footer_logo {
        left: 3%;
        width: 12vmin;
    }

    #footer .fbx .col-3 {
        flex-basis: 50%;
        padding: 5% 3%;
    }

    #footer .fbx .col-3 h2 {
        font-size: 1.5rem;
    }

    #footer .fbx .col-3 li,
    #footer .fbx .col-3 a {
        font-size: 1.3rem;
        line-height: 38px;
    }

    .contact,
    .sns,
    .newsletter {
        padding-left: 0;
    }

    .news_input {
        font-size: 1.3rem;
    }

    .button_text {
        font-size: 1.125rem;
    }

    /*팝업*/
    .pick_pop_1 {
        width: 85vmin;
        height: 38vh;
        padding: 3%;
    }

    .popup_img {
        height: 35vmin;
    }
}

/*************************** 768px - 아이패드 *************************/
@media all and (max-width:768px) {
    .header_logo {
        width: 13vmin;
    }

    .menuBox_logo {
        top: 5%;
    }

    .menuBox_logo img {
        width: 15vmin;
    }

    .toggle.active {
        margin-top: 2%;
    }

    .toggle.active span {
        width: 40px;
    }

    #ban.rbx::before {
        padding-top: 70%;
    }

    .ban_line {
        margin: 0 12%;
    }

    /*매거진*/
    #cont_1.rbx::before {
        padding-top: 100%;
    }

    #cont_1 .fbx .col-3 {
        flex-basis: 42%;
    }

    .btn_show p,
    .magazine_left > p {
        font-size: 1.6rem;
    }

    .picbtn_area {
        padding: 1% 35.5%;
        margin-top: -4.5%;
    }

    #cont_2.rbx::before {
        padding-top: 120%;
    }

    .btn_show.magazine.c2btn {
        left: 14%;
    }

    .btn_show.magazine:hover {
        width: 276px;
    }

    /*pick 팝업*/
    .pick_pop_1 {
        width: 88vmin;
        height: 39vh;
    }

    .popup_img {
        width: 53vmin;
    }

    .popup_text {
        width: 45vmin;
        margin-left: 15px;
    }

    .popup_close {
        width: 7vmin;
        height: 7vmin;
    }

    .pick_text_area p {
        font-size: 1.6rem;
    }

    .picTitle {
        font-size: 1.45rem;
    }

    /*리뷰*/
    #cont_4.rbx::before {
        padding-top: 65%;
    }

    .c4tit {
        padding-top: 5%;
        font-size: 1.9rem;
        font-weight: 300;
    }

    .review_list .swiper-slide {
        height: 30vmin;
    }


    /*푸터*/
    .footer_logo {
        width: 13vmin;
    }

    #footer.rbx::before {
        padding-top: 90%;
    }

    .button_text {
        font-size: 1rem;
        font-weight: 600;
    }

    #footer .fbx .col-3 h2 {
        font-size: 1.3rem;
    }

    #footer .fbx .col-3 li,
    #footer .fbx .col-3 a {
        font-size: 1.125rem;
    }

    .news_input {
        font-size: 1.1rem;
    }
}

/*************************** 480px - 아이패드 *************************/
@media all and (max-width:480px) {
    html {
        font-size: 15px;
    }

    .header,
    #header [class*=col-] {
        height: 70px;
    }

    .page.ban {
        padding-top: 70px;
    }

    .header_logo {
        width: 19vmin;
    }

    .toggle {
        top: 53%;
    }

    .toggle span {
        width: 25px;
        height: 2px;
    }

    .toggle.active span {
        width: 30px;
    }

    .toggle.active span:nth-child(1),
    .toggle.active span:nth-child(3) {
        margin-bottom: -2px;
    }

    /*메뉴팝업*/
    .menuBox_logo img {
        width: 25vmin;
    }

    .menuBox_gnb li {
        line-height: 23vmin;
    }

    .menuBox_gnb a {
        font-size: 12vmin;
    }


    /*배너*/

    #ban.rbx::before {
        padding-top: 85vh;
    }

    .ban_line {
        display: none;
    }

    .ban_control {
        margin: -6% auto;
    }

    .mapad {
        padding-top: 0;
    }


    /*매거진*/
    .cont_1 {
        padding-top: 10%;
    }

    #cont_1 .fbx .col-3 {
        flex-basis: auto;
        padding: 0 1.5%;
    }

    #cont_1.rbx::before {
        padding-top: 100vh;
    }

    .magazine_left {
        margin-top: -5%;
        margin-left: 0;
    }

    .magazine_left h3,
    .pick_text {
        height: auto;
        font-size: 2.3rem;
        line-height: 60px;
    }

    .magazine_left > h3::after {
        display: none;
    }

    .cont_1 .fbx {
        width: 100%;
        flex-wrap: wrap;
        height: auto;
    }

    .magazine_left > p {
        padding-bottom: 0;
        padding-top: 0;
        font-size: 1.16rem;
    }

    .magazine_img .swiper-slide {
        height: 65vh;
    }

    .magazine_left > p br {
        display: none;
    }

    .magazine_break {
        display: inline-block;
    }

    .btn_show.magazine.mabtn {
        display: none;
    }

    /*모바일 버전 매거진 버튼*/
    .btn_show.magazine.mob {
        display: block;
        margin: 0 1.4%;
        /*        margin-left: 4vmin;*/
    }


    /*brunch*/
    .cont_2 {
        margin-top: -2.5%;
    }

    #cont_2.rbx::before {
        padding-top: 90vh;
    }

    .cont_2 .fbx {
        align-items: center;
    }

    .brunch_img li {
        height: 50%;
    }

    .brunch_text {
        font-size: 4.3rem;
        top: 47%;
    }

    .btn_show.magazine.c2btn {
        bottom: -35%;
        left: -65%;
    }

    .brunch_img li:nth-child(1) {
        padding-left: 0;
        margin-top: -30%;
    }

    .brunch_img li:nth-child(2) {
        padding-right: 0;
        margin-top: -9%;
    }

    /*pick*/
    #cont_3.rbx::before {
        padding-top: 300vh;
    }

    .cont_3 {
        margin-top: 15%;
        padding-top: 5%;
    }

    #cont_3 {
        margin-top: -10%;
    }

    .picBox {
        margin-top: 15%;
    }

    .picBox .col-4 {
        flex-basis: 100%;
        margin-bottom: 9%;
    }

    .picBox li {
        height: 12%;
    }

    .pick_text_area {
        padding-left: 1.5%;
    }

    .pick_text {
        font-size: 2.3rem;
        height: auto;
        padding-bottom: 0;
    }

    .pick_text::after {
        display: none;
    }

    .pick_text_area p {
        font-size: 1.2rem;
        line-height: 2rem;
        padding-top: 0;
    }

    .picTitle {
        font-size: 1.23rem;
    }

    .picbtn_area {
        left: -11%;
        margin-top: 2%;
    }

    .btn_show.magazine.c3btn:hover {
        width: 220px;
    }

    .btn_show img {
        left: 23px;
    }

    /*팝업*/
    .pick_pop_1 {
        width: 89vmin;
        height: 75vh;
        padding: 6% 3%;
        top: 55%;
    }

    .popup_bottom {
        flex-direction: column;
        margin-top: 6%;
    }

    .popup_top h4 {
        height: 40px;
        font-size: 1.6rem;
    }

    .popup_img {
        width: 83vmin;
        height: 45vmin;
    }

    .popup_btn img {
        width: 10vmin;
    }

    .popup_text {
        width: 83vmin;
        margin-left: 0;
        margin-top: 5%;
    }

    .popup_text li {
        height: 12vmin;
        line-height: 12vmin;
    }

    .place_btn {
        width: 4vmin;
    }

    .popup_top p a {
        font-size: 0.9rem;
        display: inline;
    }

    .popup_close {
        width: 10vmin;
        height: 10vmin;
/*        right: -15px;*/
        right: 45%;
    }





    /*리뷰*/
    #cont_4.rbx::before {
        padding-top: 80vh;
    }

    .swiper-container.swiper2 {
        margin-top: -5%;
    }

    .c4tit {
        padding-top: 8%;
        font-size: 1.8rem;
    }

    .review_list .swiper-slide {
        height: 41vh;
    }


    /*푸터*/
    #footer.rbx::before {
        padding-top: 98vh;
    }

    .footer .fbx {
        padding: 0 5%;
    }

    #footer .f1h1 {
        height: 18vh;
        margin-bottom: 15%;
    }

    .footer_logo {
        width: 19vmin;
        top: 13vmin;
        left: 0;
    }

    #footer .fbx .col-3 {
        flex-basis: auto;
        padding: 0;
    }

    #footer .fbx .col-3 h2 {
        padding-bottom: 2%;
        font-size: 1.2rem;
    }

    #footer .fbx .col-3 li,
    #footer .fbx .col-3 a {
        line-height: 25px;
        font-size: 0.95rem;
    }

    .f1h2 {
        height: 30vw;
    }


    .footer_list .col-3.f1h2:nth-child(3) {
        height: 24vw;
    }

    .footer_list .col-3.f1h2:nth-child(4) {
        height: 25vw;
    }

    .sns .container {
        display: flex;
    }

    .sns .container li {
        margin-right: 4%;
    }

    .sns .container li:last-child {
        margin-right: 0;
    }

    .news_input {
        font-size: 1rem;
    }

}
